<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Media.MediaLinkServerUrl" value="true"/>
      <!-- Azure blob storage -->
      <setting name="Azure.AccountName" value="sitedemo" />
      <setting name="Azure.AccountPrimaryKey" value="7QifYNLAPnyqS1rSiHLyqot+t/wrC3kyz0z+2VEPsXwOLZdeNczp2lVeQ2taH3EsAd+eJl7ZJb5wH7gYx/5v0g==" />
      <setting name="Azure.BlobEndpoint" value="https://sitedemo.blob.core.windows.net" />
      <setting name="Azure.PublicSASToken" value="sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=r&amp;se=2018-12-31T11:11:04Z&amp;st=2018-10-10T02:11:04Z&amp;spr=https,http&amp;sig=2gAQ5z%2Fqv%2FpQ2svT%2B7gg4MfJcjThp3Ooe4bk0RBJFug%3D" />
      <setting name="Azure.ContainerName" value="siteblobcontainer" />
      <setting name="Azure.EndpointsProtocol" value="https" />
      <setting name="Azure.SyncFolder" value="[inner folder used for syncronization]" />
    </settings>

    <pipelines>
      <!-- Custom Pipeline to Process Media Items -->
      <publishItem>
        <processor type="Azure.BlobStorage.CdnPublish, Azure.BlobStorage"
      patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']">
          <!--If yes, this custom CDN publishing processor will be executed otherwise not. Values: yes|no-->
          <Enabled>yes</Enabled>
        </processor>
      </publishItem>
    </pipelines>

    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">Azure.BlobStorage.AzureBlobStorageMediaProvider,Azure.BlobStorage</patch:attribute>
      </mediaProvider>
    </mediaLibrary>


    <linkManager defaultProvider="sitecore">
      <providers>
        <add patch:instead="*[@name='sitecore']" name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false"/>
      </providers>
    </linkManager>


    <hooks>
      <hook type="Azure.BlobStorage.MediaProvider,Azure.BlobStorage">
        <!--Use zure cdn URL for all media items , i am using azure cdn endpoint -->
        <!--Replace below {blob_storage_endpoint} with the azure blob storage endpoint URL-->
        <originPrefix>{blob_storage_endpoint}</originPrefix>
        <sites>sitecoresite</sites>
      </hook>
    </hooks>
  </sitecore>
</configuration>